ul{
    display: flex;
    list-style: none;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-bottom: 3px solid red;

    & a{
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0.2s;
        
        
    }
    & img{
        height: 70px;
    }
    & li{
        height: 40px;
        display: flex;
        text-align: center;
        align-items: center;
        width: auto;
        transition: 0.2s;
    &:hover{
            border-bottom: 1px solid red;
            transform: scale(1.1);

         }
    }
}