.title2{
    margin-bottom: 50px;
    color: lightblue;
}
.wp{
    padding-top: 32px;
    background-image: url("https://images.hdqwalls.com/wallpapers/venom-dark-artwork-yp.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}